/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
	--white: #ffffff;
	--gray: #f6f6f6;
	--black: #1e1e1e;
	--darkblue: #2b2d42;
	--gray-ligth: #c2c2bd;
	--red: #ef233c;

	/* Border Radius*/
	--input-br: 2rem;
	--card-br: 0;

	/* Shadows*/
	--input-shadow: 0px 2px 6px 0px rgb(0 0 0 / 16%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	color: var(--darkblue);
	accent-color: var(--black);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-size: .9rem;
	font-style: normal;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background-color: var(--gray);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

.main-layout__content {
	padding: 1rem 1.5rem;
}

.loader {
	width: 100%;
	text-align: center;
	font-style: italic;
	font-weight: 700;
	font-size: 2em;
}

/* Utility */
.text-red {
	color: var(--red);
}

.relative {
	position: relative;
}

.text-center {
	text-align: center;
}

.mx-auto {
	margin: 0 auto;
}

.my-2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
